<div class="container">
  <div class="row">
      <h1 class="text-center">Latest reviews</h1>
      <div class="list-group">
        {{#each reviews}}
          <a href="#" class="list-group-item">
            <div class="media col-md-3">
            </div>
            <div class="col-md-6 comment">
              <figure class="pull-left">
                <img class="media-object img-rounded img-responsive sm" src="{{review.user.profile_image}}" alt="placehold.it/350x250">
                <p class="text-center">{{review.user.name}}</p>
              </figure>
              
              <h4 class="list-group-item-heading review-heading"> {{review.rating_text}} </h4>
              <p class="list-group-item-text review"> {{review.review_text}}</p>
              <div class="row stats">
                <div class="col-sm-5">
                  <span>Rating: {{review.rating}}/5</span>
                </div>
                <div class="col-sm-4">
                  <span>Posted: {{review.review_time_friendly}}</span>
                </div>
              </div>
            </div>
            {{!-- <div class="col-md-3 text-center">
              <h2> 14240
                <small> votes </small>
              </h2>
              <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
              <div class="stars">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
              </div>
              <p> Average 4.5
                <small> / </small> 5 </p>
            </div> --}}
          </a>
        {{/each}}
      </div> 
  </div>
</div>